amqp==5.0.2
anyjson==0.3.3
APScheduler==3.6.3
asgiref==3.3.1
billiard==3.6.3.0
celery==5.0.5
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
#dataclasses==0.8
Django==3.0
django-apscheduler==0.5.1
django-celery-results==2.0.0
django-redis==4.12.1
Flask==2.0.2
graphviz==0.17
importlib-metadata==3.1.1
itsdangerous==2.0.1
Jinja2==3.0.2
kombu==5.0.2
MarkupSafe==2.0.1
mysql-connector-python==8.0.22
mysqlclient==2.0.2
prompt-toolkit==3.0.8
protobuf==3.14.0
#pygraphviz @ file:///E:/%E6%B5%8F%E8%A7%88%E5%99%A8%E4%B8%8B%E8%BD%BD/pygraphviz-1.5-cp36-cp36m-win_amd64.whl
pytz==2020.4
redis==3.5.3
six==1.15.0
sqlparse==0.4.1
tornado==6.1
tzlocal==2.1
vine==5.0.0
wcwidth==0.2.5
Werkzeug==2.0.2
zipp==3.4.0
